{% block footer %}

  <footer class="footer">
    <div class="footer__cta">
      <div class="footer__cta__text">
        <h2>
          <span class="nowrap">Let's talk about your project!</span>
          <span class="nowrap">
            <a href="/contact/">CONTACT US</a>
          </span>
        </h2>
      </div>
    </div>
    <div class="footer__waves">
      <img class="footer__waves__img" src="{{url('theme://images/svg/POS_Waves.svg') }}"/>
    </div>
    <ul class="footer__nav">
      <li class="footer__nav__column footer__nav__column--1">
        <ul class="footer__nav__column__list">
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--title">
            <span>Navigation</span>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="/">
              <span>Home</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>Athletic</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>Commercial</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>Residential</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>Projects</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>About</span>
            </a>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--link">
            <a href="#">
              <span>Contact</span>
            </a>
          </li>

        </ul>
      </li>
      <li class="footer__nav__column footer__nav__column--2">
        <ul class="footer__nav__column__list">
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--title">
            <span>SERVICES</span>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Aeration</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Athletic field development</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Athletic field renovation</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Athletic field maintenance</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Commercial lawn care</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Fertilization and weed control</li>
        </ul>
      </li>
      <li class="footer__nav__column footer__nav__column--3">
        <ul class="footer__nav__column__list">
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--title">
            <span>&nbsp;</span>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Irrigation systems</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Mosquito and pest control</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Pond maintenance</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Residential lawn care</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Sodding and seeding</li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--text">Turf management</li>
        </ul>
      </li>
      <li class="footer__nav__column footer__nav__column--4">
        <ul class="footer__nav__column__list footer__nav__column__list--contact">
          <li>
            <span>&nbsp;</span>
          </li>
          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--title">
            <span>EMAIL</span>
          </li>
          <li>
            <a href="mailto:allen@professionaloutdoor.solutions">
              allen@professionaloutdoor.solutions
            </a>
          </li>

          <li class="footer__nav__column__list__entry footer__nav__column__list__entry--title">
            <span>CALL</span>
          </li>

          <li>
            <a href="tel:2177223948">217-722-3948</a>
          </li>

        </ul>
        <ul class="footer__nav__column__list footer__nav__column__list--social">

          <li>
            <a href="https://www.facebook.com/professionaloutdoorsolutions/" target="_blank">

              <i class="fab fa-facebook-square fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/ProfOutdoorSol" target="_blank">
              <i class="fab fa-twitter-square fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/professional-outdoor-solutions/" target="_blank">
              <i class="fab fa-linkedin fa-2x"></i>
            </a>
          </li>
          <li>
            <a href="mailto:allen@professionaloutdoor.solutions">
              <i class="fas fa-envelope-square fa-2x"></i>
            </a>
          </li>
          <li>
            <script language="javascript">
              function emailCurrentPage() {
                window.location.href = "mailto:?subject=Check out this page from " + document.title + "&body=" + escape(window.location.href);
              }
            </script>
            <a href="javascript:emailCurrentPage()">
              Email this page!</i>
          </a>
        </li>

      </ul>
    </li>
    <div class="footer__copy">
      <p>
        © 2020 Professional Outdoor Soutions, LLC
      </p>
    </div>
  </footer>
{% endblock %}
