// main: ../theme.scss

.wrapper {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}

.header__nav__list--hidden {
  display: none;
}
.white-margin {
  margin-bottom:2rem;
}

.nowrap {
  white-space: nowrap;
}
