{% embed 'partials/base.html.twig' %}

  {% set collection = page.collection() %}

  {% block content %}

    <div class="news">
      <div class="news__banner" style="">
        <img src="https://professionaloutdoorsolutions.xurweb.design/img/jpg/il-university-of-illinois/archive/2020-04-18-U_of_I_practice_field.jpg" class="news__banner__img" alt="">
      </div>
      <div class="news__feed">
        <div class="news__feed__entries">
          {% for child in collection %}
            {% include 'partials/blog_list_item.html.twig' with {
              'blog' : page,
              'page' : child,
              'truncate' : true
            } %}
          {% endfor %}
        </div>
        <div class="news__feed__pages">
          {% if config.plugins.pagination.enabled and collection.params.pagination %}
            {% include 'partials/pagination.html.twig' with {
              'base_url' : page.url,
              'pagination' : collection.params.pagination
            } %}
          {% endif %}
        </div>
      </div>

    </div>

  {% endblock %}
{% endembed %}
